<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-zptprinter" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>ZptPrinter</name><js-module name="ZptPrinter" src="www/ZptPrinter.js"><clobbers target="cordova.plugins.ZptPrinter" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="ZptPrinter"><param name="android-package" value="cordova-plugin-zptprinter.ZptPrinter" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"><uses-permission android:name="android.permission.READ_CALENDAR"/></config-file><source-file src="src/android/ZptPrinter.java" target-dir="src/cordova-plugin-zptprinter/ZptPrinter" /></platform></plugin>